@import url("https://use.typekit.net/cqb5tzz.css");
@import url("https://use.typekit.net/oni4uuf.css");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    background: var(--main-bg);
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "thanatos-variable", sans-serif;
    font-variation-settings: "opsz" 8, "wght" 100;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-variation-settings: "opsz" 1; */
    /* font-weight: 700; */
}

:root {
    --main-bg: #F5FBEF;
    --main-txt: #12100E;
    --blue: #252DD0;
    --max-width: 1600px;
    --inner-width: 95%;
    --mobile-inner-width: 85%;
    --gradient: linear-gradient(to bottom, var(--white), var(--lime));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--silver);
}

::-webkit-scrollbar-thumb {
    background: var(--charcoal);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    font-size: 2.5em;
}


.about-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}

.about-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-wrapper p {
    font-size: 2em;
    font-weight: 200;
}

.about-item {
    width: 100%;
    height: auto;
    background: var(--sea);
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    z-index: 999; */
}

/* @media screen and (max-width:900px) {
    .header {
        display: none;
    }
} */

.header-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    background: var(--main-bg);
    /* border-radius: 50px; */
    /* margin-top: 2.5%; */
    padding: 0 5%;
    /* border-bottom: 1px solid var(--charcoal); */
    /* min-height: 84.5px; */
}

.header-item {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header-item:nth-of-type(1) {
    align-items: center;
    justify-content: flex-start;
}

.header-item:nth-of-type(1) h2:nth-of-type(1) {
    margin-left: 1em;
}

.header-item:nth-of-type(3) {
    align-items: center;
    justify-content: flex-end;
}

/* .header-item h2 {
    font-weight: 200;
}

.header-item:nth-of-type(1) a {
    margin-right: 20px;
}

.header-item:nth-of-type(2) {
    align-items: center;
    justify-content: center;
}

.header-item:nth-of-type(3) a:first-child {
    margin-right: 20px;
}

.header-item:nth-of-type(3) {
    align-items: flex-end;
    justify-content: flex-end;
} */

.header-item a {
    text-decoration: none;
    color: var(--main-txt);
}

.weather-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 0 2.5%; */
    /* margin-right: 2.5%; */
}

.weather-wrapper h3 {
    color: var(--moss);
}

.weather-wrapper h2 {
    color: var(--main-txt);
}

.weather-wrapper img {
    width: 40px;
    height: auto;
}

#temp {
    margin-right: 10px;
}

.home-intro-container {
    width: 100%;
    background: var(--blue);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    min-height: 150vh;
}

.home-intro-wrapper {
    width: var(--inner-width);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.home-intro-item {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.home-intro-item h1 {
    font-size: 10vw;
    color: var(--main-bg)
}

.new-home-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.new-header-item {
    width: var(--inner-width);
    max-width: var(--max-width);
}

.new-header-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.name {
    font-size: 12vw;
    ;
}

.intro-area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.intro-area h1 {
    z-index: 20;
}

/* NEW WORK CONTAINER BEGIN */

/* .new-work-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.new-work-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    min-height: 50vh;
}

.new-work-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". .";
    gap: 1em;
}

@media screen and (max-width:900px) {
    .new-work-item {
        grid-template-columns: 1fr;
        grid-template-areas: ".";
    }
}

.new-work-inner {
    min-height: 20vh;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-txt);
    flex-direction: column;
}

.new-work-inner img {
    width: 75%;
    height: auto;
    border-radius: 25px;
}

.new-work-inner p {
    padding: 0 20%;
}

.new-work-inner:nth-of-type(odd) {
    align-items: center;
    justify-content: center;
}

.new-work-inner:nth-of-type(even) {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-txt);
    flex-direction: column;
} */

/* NEW WORK CONTAINER END */

/* updated work section begin */

.home-work-container {
    width: 100%;
    height: auto;
    background: black;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-work-wrapper {
    width: var(--inner-width);
    height: auto;
    background: red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". .";
    gap: 1em;
}

@media screen and (max-width:900px) {
    .home-work-wrapper {
        grid-template-columns: 1fr;
    }
}

.work-item {
    width: 100%;
    height: auto;
    background: white;
    min-height: 40vh;
    border-radius: 25px;
}

/* updated work section end */

/* .work-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.work-wrapper {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-section {
    width: 100%;
    height: auto;
}

.work-section:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    margin-bottom: 1em;
}

.work-section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.work-item {
    min-height: 250px;
    background: red;
}

.work-item img {
    width: 100%;
    height: auto;
}

.work-container-new {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
    margin-top: 50px;
}

.work-wrapper-new {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2em;
}

.work-item {
    width: 100%;
    height: auto;
    min-height: 450px;
    margin-bottom: 1em;
} */

.about-extra {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

@media screen and (max-width:900px) {
    .about-extra {
        display: none;
    }
}

.about-extra-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.about-extra-item {
    width: 100%;
    height: auto;
}

#extra-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

#extra-images img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.horizontal-container {
    width: 500vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.horizontal-panel {
    font-weight: 300;
    width: 100vw;
    height: auto;
    min-height: 95vh;
    border-radius: 10px;
    justify-self: center;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--neon);
    background: var(--charcoal);
}

/* .home-work {
    width: 100%;
    height: auto;
    padding: 5% 0;
    background: var(--main-txt);
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .home-work-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    align-content: center;
    justify-content: center;
}

.home-work-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.work-section-item {
    width: 100%;
    height: auto;
    background: var(--charcoal);
    color: var(--main-txt);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.work-img::before {}

.item-info {
    width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-txt)
} */

.item-info .name {
    color: var(--white);
}

.home-work-section:nth-of-type(2) {
    margin-top: 5em;
}

.home-work-section img {
    width: 100%;
    height: auto;
}

.work-slider {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.slider-section:nth-of-type(1) p {
    font-size: 2em;
    font-weight: 200;
}

.slider-wrapper {
    width: var(--inner-width);
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slider-section:nth-of-type(1) {
    width: 30%;
}

.slider-section:nth-of-type(1) h1 {
    padding-right: 10%;
    text-align: left;
}

.slider-section:nth-of-type(2) {
    width: 70%;
}

.swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.swiper-slide h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

/* BROKEN LAYOUT WORK SECTION */
.broken-work {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 5% 0;
}

.broken-work-container {
    width: var(--inner-width);
    height: auto;
}

.featured-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 1em;
}

.featured-section {
    width: 100%;
    height: auto;
    min-height: 60vh;
}

.featured-section:nth-of-type(1) {
    background: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: var(--onyx);
}

.featured-title {
    font-weight: 700;
    color: var(--onyx);
}

.featured-section:nth-of-type(1) img {
    width: 100%;
    height: auto;
}

.featured-section:nth-of-type(2) {
    background-image: url('../images/excelsior.webp');
    background-size: cover;
    background-position: top;
}

.other-work {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: masonry;
    gap: 1em;
}

.other-work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    /* border-radius: 20px; */
}

.other-work-item-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5% 0;
    border-radius: 20px;
    color: var(--white);
}

.other-work-item img {
    width: 100%;
    height: auto;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
}

.other-title {
    color: var(--white);
    font-weight: 700;
    padding: 10px 0;
}

.featured-btn {
    max-width: 150px;
    padding: 15px 15%;
    border: 1px solid var(--main-txt);
    color: var(--main-txt);
    background: transparent;
    text-decoration: none;
    text-decoration: none;
    margin-top: 25px;
    text-align: center;
    transition: all .5s ease-in-out;
    margin-top: 50px;
}

#cta-btn {
    max-width: 250px;
}

.featured-btn:hover {
    background: var(--main-txt);
    color: var(--main-bg);
    border: 1px solid var(--main-bg);
    letter-spacing: .2em;
    /* border-radius: 25px; */
}

.other-btn {
    max-width: 150px;
    padding: 15px 15%;
    border: 1px solid var(--white);
    color: var(--white);
    background: transparent;
    text-decoration: none;
    text-decoration: none;
    margin-top: 25px;
    text-align: center;
    transition: all .5s ease-in-out;
}

.other-btn:hover {
    background: var(--white);
    color: var(--purple);
    border: 1px solid var(--white);
    /* border-radius: 25px; */
}

.work-new-container {
    width: 100%;
    height: auto;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-new-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-new-item {
    width: 100%;
    display: flex;
    min-height: 200px;
}

.work-title {}

span {
    margin: 0;
    padding: 0;
}

.name-2 {
    font-size: 5vw;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    color: var(--white);
    font-weight: 400;
}

.name-3 {
    font-size: 12vw;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color: var(--main-txt);
}

.work-new-item:nth-of-type(1) {
    width: 100%;
    height: auto;
    align-items: flex-end;
    justify-content: flex-end;
}

.work-new-item:nth-of-type(2) {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(350px, auto); */
    gap: 2em;
}

@media screen and (max-width:750px) {
    .work-new-item:nth-of-type(2) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.work-card {
    width: 100%;
    height: auto;
    min-height: 50vh;
    background: var(--white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* border: 5px solid var(--charcoal); */
    /* box-shadow: 10px 10px 0px var(--charcoal); */
}

.work-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2.5% 0;
}

.work-card h1 {
    color: var(--moss);
}

.work-card p {
    color: var(--moss);
}

.tech {
    margin-bottom: 10px;
    font-size: 1.11em;
}

/* .work-card:nth-of-type(1) {
    grid-column: 1 / 6;
    grid-row: 1;
}

.work-card:nth-of-type(2) {
    grid-column: 6 / 9;
    grid-row: 1;
}

.work-card:nth-of-type(3) {
    grid-column: 1 / 5;
    grid-row: 2;
}

.work-card:nth-of-type(4) {
    grid-column: 5 / 9;
    grid-row: 2;
}

.work-card:nth-of-type(5) {
    grid-column: 1/4;
    grid-row: 3;
}

.work-card:nth-of-type(6) {
    grid-column: 4 / 6;
    grid-row: 3;
}

.work-card:nth-of-type(7) {
    grid-column: 6 / 9;
    grid-row: 3;
} */



/* CONTACT PAGE STYLES */

.contact-header-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.contact-header-item h1 {
    color: var(--white);
}

.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.contact-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
}

.contact-item {
    width: 100%;
    height: auto;
}

.contact-item img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

/* FORM STYLES */
.formContainer {
    width: 100%;
    height: auto;
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer textarea {
    width: 90%;
    height: auto;
    padding: 10px 0;
    margin-bottom: 20px;
    background: var(--white);
    color: var(--charcoal);
    font-family: 'roboto', sans-serif;
    border: none;
    padding: 20px 0;
    border: 1px solid var(--charcoal);
    border-radius: 20px;
    /* padding-left: 1.5em; */
}

.formContainer input[type="text"]::placeholder,
.formContainer input[type="email"]::placeholder,
.formContainer textarea::placeholder {
    color: var(--charcoal);
    font-family: 'roboto', sans-serif;
    font-size: 1.5em;
    padding-left: 1.5em;
}


.formContainer label {
    display: none;
}

.formButton {
    padding: 20px 15%;
    border: 1px solid var(--white);
    background: transparent;
    cursor: pointer;
    color: var(--white);
    transition: .5s ease-in-out;
}

.formButton:hover {
    background: var(--white);
    color: var(--moss);
}

.footer-container {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--gradient); */
    background: var(--main-txt);
    position: sticky;
    z-index: 1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item:nth-of-type(1) {
    padding: 5% 0;
}

.footer-item:nth-of-type(2) {
    justify-content: space-evenly;
    padding: 2.5% 0;
}

.footer-item:nth-of-type(2) a {
    color: var(--main-bg);
    text-decoration: none;
}

.footer-item:nth-of-type(3) {
    padding: 20px 0;
}

.footer-item:nth-of-type(3) p {
    color: var(--main-bg);
}

.footer-large {
    font-size: 10vw;
    color: var(--main-bg);
    font-weight: 400;
}



/* 404 PAGE STYLES */

.error-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.error-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    padding: 5% 0;
}

/* src/components/horizontalScroll.css */
.horizontal-scroll-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.horizontal-scroll-content {
    display: flex;
    width: 300vw;
    /* Adjust based on the number of sections */
    height: 100vh;
}

.horizontal-section {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.horizontal-section-inner {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: 85%;
    background: black;
    border-radius: 50px;
}

/* horizontal scroll text area */

/* .horizontal-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 2px solid red;
    padding-left: 10%;
    min-height: 20vh;
}

.horizontal-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    padding: 5% 0;
    border: 2px solid blue;
}

.horizontal-wrapper span {
    font-size: 2em;
    font-family: "norman-variable", sans-serif;
} */

/* .scrolling-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    color: black;
} */

/* .scrolling-text-pin-wrapper {
    background: var(--moss);
} */

.scrolling-text-container {
    width: 100%;
    height: auto;
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10%;
}

.scrolling-text-wrapper {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 25%;
    flex-direction: row;
}

.scrolling-text-wrapper .name {
    color: var(--main-txt);
}

.scrolling-text-wrapper h2 {
    color: var(--main-txt);
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* CONTACT CTA STYLES */

.contact-cta-container {
    width: 100%;
    height: auto;
    padding: 2.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background: var(--moss);
}

.contact-cta-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    background: var(--moss);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    border: 3px solid var(--white);
    text-align: center;
}

.contact-cta-wrapper .name-2 {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-btn {
    padding: 10px 30px;
    background: var(--white);
    color: var(--charcoal);
    border: 1px solid var(--white);
}

.home-intro-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}