@import url("https://use.typekit.net/cqb5tzz.css");
@import url("https://use.typekit.net/oni4uuf.css");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    background: var(--main-bg);
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "akzidenz-grotesk-next-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4 {
    font-family: 'akzidenz-grotesk-next-conden', sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-bg: #F4F6F4;
    --off-white: #F5F5F5;
    --main-txt: #FF2E00;
    --blue: #252DD0;
    --highlight: #FFF8E8;
    --dark: #231e1a;
    --max-width: 1600px;
    --inner-width: 95%;
    --mobile-inner-width: 85%;
    --gradient: linear-gradient(to bottom, var(--white), var(--lime));
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--main-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    font-size: 2.5em;
}


.about-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}

.about-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-wrapper p {
    font-size: 3.75em;
    font-weight: 200;
}


.header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

/* @media screen and (max-width:900px) {
    .header {
        display: none;
    }
} */

.header-wrapper {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    background: var(--main-bg);
    padding: 0 5%;
    border: 1px solid var(--main-txt);
    margin-top: 2%;
    border-radius: 25px;
}

.header-item {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header-item:nth-of-type(1) {
    align-items: center;
    justify-content: flex-start;
}

.header-item:nth-of-type(1) h2:nth-of-type(1) {
    margin-left: 1em;
}

.header-item:nth-of-type(3) {
    align-items: center;
    justify-content: flex-end;
}

.header-item a {
    text-decoration: none;
    color: var(--main-txt);
}

.weather-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 0 2.5%; */
    /* margin-right: 2.5%; */
}

.weather-wrapper h3 {
    color: var(--moss);
}

.weather-wrapper h2 {
    color: var(--main-txt);
}

.loading {
    color: var(--main-txt);
}

.weather-wrapper img {
    width: 40px;
    height: auto;
}

#temp {
    margin-right: 10px;
}

.home-intro-container {
    width: 100%;
    background: var(--blue);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    min-height: 150vh;
}

.home-intro-wrapper {
    width: var(--inner-width);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1em;
}

.home-intro-item {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.home-intro-item h1 {
    font-size: 10vw;
    color: var(--main-bg)
}

.new-home-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.new-header-item {
    width: var(--inner-width);
    max-width: var(--max-width);
}

.new-header-item video {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.new-header-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.name {
    font-size: 12vw;
    ;
}

.intro-area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}

.intro-area h1 {
    z-index: 20;
    color: var(--main-txt);
}

.about-extra {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

@media screen and (max-width:900px) {
    .about-extra {
        display: none;
    }
}

.about-extra-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.about-extra-item {
    width: 100%;
    height: auto;
}

#extra-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

#extra-images img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.horizontal-container {
    width: 500vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.horizontal-panel {
    font-weight: 300;
    width: 100vw;
    height: auto;
    min-height: 95vh;
    border-radius: 10px;
    justify-self: center;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--neon);
    background: var(--charcoal);
}

.item-info .name {
    color: var(--white);
}

span {
    margin: 0;
    padding: 0;
}

.name-2 {
    font-size: 5vw;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    text-align: center;
    color: var(--white);
    font-weight: 400;
}

.name-3 {
    font-size: 12vw;
    line-height: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color: var(--main-txt);
}


/* CONTACT PAGE STYLES */

.contact-header-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.contact-header-item h1 {
    color: var(--main-txt);
}

.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.contact-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
}

.contact-item {
    width: 100%;
    height: auto;
}

.contact-item img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

/* FORM STYLES */
.formContainer {
    width: 100%;
    height: auto;
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer textarea {
    width: 90%;
    height: auto;
    padding: 10px 0;
    margin-bottom: 20px;
    background: var(--white);
    color: var(--main-txt);
    font-family: 'roboto', sans-serif;
    padding: 20px 0;
    border: 1px solid var(--main-txt);
}

.formContainer input[type="text"]::placeholder,
.formContainer input[type="email"]::placeholder,
.formContainer textarea::placeholder {
    color: var(--charcoal);
    font-family: 'roboto', sans-serif;
    font-size: 1.5em;
    padding-left: 1.5em;
}


.formContainer label {
    display: none;
}

.formButton {
    padding: 20px 15%;
    border: 1px solid var(--main-txt);
    background: transparent;
    cursor: pointer;
    color: var(--white);
    transition: .5s ease-in-out;
}

.formButton:hover {
    background: var(--white);
    color: var(--moss);
}

.footer-container {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--gradient); */
    background: var(--main-txt);
    position: sticky;
    z-index: 1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item:nth-of-type(1) {
    padding: 5% 0;
}

.footer-item:nth-of-type(2) {
    justify-content: space-evenly;
    padding: 2.5% 0;
}

.footer-item:nth-of-type(2) a {
    color: var(--main-bg);
    text-decoration: none;
}

.footer-item:nth-of-type(3) {
    padding: 20px 0;
}

.footer-item:nth-of-type(3) p {
    color: var(--main-bg);
}

.footer-large {
    font-size: 10vw;
    color: var(--main-bg);
    font-weight: 400;
}

@media screen and (max-width:900px) {
    .footer-item:nth-of-type(2) {
        flex-direction: column;
    }
}

/* 404 PAGE STYLES */

.error-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.error-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    padding: 5% 0;
}

/* src/components/horizontalScroll.css */
.horizontal-scroll-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.horizontal-scroll-content {
    display: flex;
    width: 300vw;
    /* Adjust based on the number of sections */
    height: 100vh;
}

.horizontal-section {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.horizontal-section-inner {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: 85%;
    background: black;
    border-radius: 50px;
}

/* horizontal scroll text area */

/* .horizontal-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 2px solid red;
    padding-left: 10%;
    min-height: 20vh;
}

.horizontal-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    padding: 5% 0;
    border: 2px solid blue;
}

.horizontal-wrapper span {
    font-size: 2em;
    font-family: "norman-variable", sans-serif;
} */

/* .scrolling-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    will-change: transform;
    color: black;
} */

/* .scrolling-text-pin-wrapper {
    background: var(--moss);
} */

.scrolling-text-container {
    width: 100%;
    height: auto;
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10%;
}

.scrolling-text-wrapper {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 25%;
    flex-direction: row;
}

.scrolling-text-wrapper .name3 {
    color: var(--main-txt);
    font-weight: 900;
}

.scrolling-text-wrapper h2 {
    color: var(--main-txt);
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* CONTACT CTA STYLES */

.contact-cta-container {
    width: 100%;
    height: auto;
    padding: 2.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    background: var(--moss);
}

.contact-cta-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    background: var(--moss);
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    border: 3px solid var(--white);
    text-align: center;
}

.contact-cta-wrapper .name-2 {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-btn {
    padding: 10px 30px;
    background: var(--white);
    color: var(--charcoal);
    border: 1px solid var(--white);
}

.home-intro-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

/* EXPERIMENTAL INTRO SECTION */

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    z-index: 5;
}


.scroll-container {
    display: flex;
    position: relative;
    background: var(--main-txt);
}

.image-column {
    width: 50%;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-column {
    width: 50%;
    padding-left: 2rem;
}

.text-block {
    margin: 200px 0;
    /* so they take enough vertical space */
}

/* NEW WORK MAY 2025 */

.work-may-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    background: var(--dark);
    border-radius: 50px;
    margin-bottom: 5%;
}

.work-may-wrapper {
    width: var(--inner-width);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.work-section {
    width: 100%;
    height: auto;
}

.work-section h2 {
    font-size: 12vw;
    color: var(--main-bg)
}

.work-section:nth-of-type(1) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.work-section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.work-item {
    height: auto;
    background: var(--main-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: var(--main-bg);
}

.work-item:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 6;
}

.work-item:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 4;
}

.work-item:nth-of-type(3) {
    grid-area: 2 / 4 / 3 / 6;
}

.work-item:nth-of-type(4) {
    grid-area: 3 / 3 / 4 / 6;
}

.work-item:nth-of-type(5) {
    grid-area: 3 / 1 / 4 / 3;
}

.work-item-wrapper {
    width: 100%;
    height: auto;
    background: black;
}

.work-item-wrapper img {
    width: auto;
    height: 80%;
}

.work-item-image {
    min-height: 50vh;
    background-image: url('../images/work/nycuf-square.webp');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:900px) {
    .work-may-wrapper {
        padding: 10% 0;
    }

    .work-item:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 6;
    }

    .work-item:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 6;
    }

    .work-item:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 6;
    }

    .work-item:nth-of-type(4) {
        grid-area: 4 / 1 / 5 / 6;
    }

    .work-item:nth-of-type(5) {
        grid-area: 5 / 1 / 6 / 6;
    }
}