:root {
    --main-bg: #F4F6F4;
    --off-white: #F5F5F5;
    --main-txt: #414535;
    --off-red: #EF2917;
    --blue: #252DD0;
    --highlight: #FFF8E8;
    --dark: #2D3047;
    --citrine: #BDBF09;
    --crayola: #EE4266;
    --raisin: #231F20;
    --max-width: 1600px;
    --inner-width: 90%;
    --max-width: 1500px;
    --mobile-inner-width: 85%;
    --gradient: linear-gradient(to bottom, var(--white), var(--lime));
}

.about-extra {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

/* @media screen and (max-width:900px) {
    .about-extra {
        display: none;
    }
} */

.about-extra-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.about-extra-item {
    width: 100%;
    height: auto;
}

#extra-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

@media screen and (max-width:900px) {
    #extra-images {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: ". .";
    }
}

#extra-images img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}