:root {
    --main-bg: #F4F6F4;
    --off-white: #F5F5F5;
    --main-txt: #414535;
    --off-red: #EF2917;
    --blue: #252DD0;
    --highlight: #FFF8E8;
    --dark: #2D3047;
    --citrine: #BDBF09;
    --crayola: #EE4266;
    --raisin: #231F20;
    --max-width: 1600px;
    --inner-width: 90%;
    --max-width: 1500px;
    --mobile-inner-width: 85%;
    --gradient: linear-gradient(to bottom, var(--white), var(--lime));
}

.footer-container {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--gradient); */
    background: var(--dark);
    position: sticky;
    z-index: 1;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
}

.footer-wrapper {
    width: var(--inner-width);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-item {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item:nth-of-type(1) {
    padding: 5% 0;
}

.footer-item:nth-of-type(2) {
    justify-content: space-evenly;
    padding: 2.5% 0;
}

.footer-item:nth-of-type(2) a {
    color: var(--main-bg);
    text-decoration: none;
}

.footer-item:nth-of-type(3) {
    padding: 20px 0;
}

.footer-item:nth-of-type(3) p {
    color: var(--main-bg);
}

.footer-large {
    font-size: 10vw;
    color: var(--main-bg);
}

@media screen and (max-width:900px) {
    .footer-item:nth-of-type(2) {
        flex-direction: column;
    }
}